<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Chaplin | HTML5 application architecture</title>
  <link rel="stylesheet" href="stylesheets/application.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <div class="wrapper">

<header class="nav-header">
  <div class="list-wrapper">
    <ul class="page-nav">
      <li class="logo-text">
        <div class="logo"><img class="logoa" width="30" src="/images/chaplin-hat.png" alt=""></div>
        <span class="logo-text-entity">Chaplin</span>
        <button class="toggle-navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org" data-pattern="\/\/chaplinjs\.org/(#.*)?$">About</a></li>
      <li class="nav-toggle-content"><a href="http://docs.chaplinjs.org" data-pattern="docs\.chaplinjs">Documentation</a></li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org/examples.html" data-pattern="examples\.html$">Examples</a></li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org/support.html" data-pattern="support\.html$">Support</a></li>
    </ul>
  </div>
</header>

<section>{{ content }}</section>

  </div>

<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
<script src="/javascripts/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44679795-3', 'chaplinjs.org');
  ga('send', 'pageview');

</script>
</body>
</html>
