<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Chaplin | HTML5 application architecture</title>
  <link rel="stylesheet" href="stylesheets/application.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <div class="wrapper">

<header class="nav-header">
  <div class="list-wrapper">
    <ul class="page-nav">
      <li class="logo-text">
        <div class="logo"><img class="logoa" width="30" src="/images/chaplin-hat.png" alt=""></div>
        <span class="logo-text-entity">Chaplin</span>
        <button class="toggle-navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org" data-pattern="\/\/chaplinjs\.org/(#.*)?$">About</a></li>
      <li class="nav-toggle-content"><a href="http://docs.chaplinjs.org" data-pattern="docs\.chaplinjs">Documentation</a></li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org/examples.html" data-pattern="examples\.html$">Examples</a></li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org/support.html" data-pattern="support\.html$">Support</a></li>
    </ul>
  </div>
</header>

<section>{{ content }}</section>

  </div>

<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
<script>
(function() {
  var queryAll = function(selector) {
    return [].slice.call(document.querySelectorAll(selector));
  };
  var links = queryAll('.page-nav > li > a');
  links.forEach(function(link) {
    link.className = link.className.replace('active', '');
    var re = new RegExp(link.getAttribute('data-pattern'));
    console.log(location.href, re);
    if (re.test(location.href)) link.className += ' active';
  });

  document.querySelector('.page-nav .toggle-navigation').addEventListener('click', function() {
    queryAll('.page-nav .nav-toggle-content').forEach(function(item) {
      var existing = window.getComputedStyle(item).display;
      var newStyle = (existing === 'none') ? 'list-item' : 'none';
      console.log(item, newStyle)
      item.style.display = newStyle;
    });
  }, true);
})();
</script>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '50b16606613f5d357c00002f');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
